# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Skynet files
bin/skynet.ai
bin/skynet.game_1
bin/skynet.game_2
bin/skynet.sql
bin/skynet.login
bin/skynet.master
bin/log/





